/* шрифты */
      @font-face {
    font-family: roboto-regular; /* Имя шрифта */
    src: url(fonts/roboto-regular.ttf); /* Путь к файлу со шрифтом */
   }

      @font-face {
    font-family:  PragmaticaLightC; /* Имя шрифта */
    src: url(fonts/PragmaticaLightC.otf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: Myriad-Pro-Semibold-Condensed; /* Имя шрифта */
    src: url(fonts/Myriad-Pro-Semibold-Condensed.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: MyriadPro-BoldCond; /* Имя шрифта */
    src: url(fonts/MyriadPro-BoldCond.otf); /* Путь к файлу со шрифтом */
   }
/* обнуление */

* {
	margin: 0px;
	outline: none;
	padding: 0px;
	border: 0px;
}

/* ПЛАВАЮШИЙ КУРСОР ПРИ ПЕЧАТИ */

        /* code for animated blinking cursor */
        .typed-cursor{
color: inherit;
    text-align: left;
    font-family: PragmaticaLightC;
    font-size: inherit;
    font-weight: 100;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }


/* стили блока с формой и контактами */

/* блок затемения экрана для формы */
#dark{
cursor: pointer;
display: none;
position: fixed;
top: 0px;
left: 0px;
height: 100vh;
width: 100%;
}


/* Стили блока с формой и контактами */

#contactbox{
	display: none;
	position: fixed;
	z-index: 99999;
	top: 50%;
	left: 50%;
	width: 540px;
  margin-top: -260px;
  margin-left: -270px;
	background-color: #141719;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 45px -2px rgb(10, 10, 10);
	-moz-box-shadow: 0 0 45px -2px rgb(10, 10, 10);
	box-shadow: 0 0 45px -2px rgb(10, 10, 10);
}

#dark{
	cursor: pointer;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}


#contactbox h1{
text-align: center;
    width: 100%;
    font-family: PragmaticaLightC;
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin: 22px 0;
}

#phoneimg{
position: relative;
    float: left;
    width: 10%;
    min-height: 10px;
    margin-top: 25px;
    margin-left: 30px;
}


#phonetxt{
position: relative;
    float: left;
    width: 78%;
    min-height: 10px;
    margin-top: 8px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#phonetxt p{
font-family: PragmaticaLightC;
    font-size: 21px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

.barier{
width: 100%;
float: left;
height: 1px;
background: #293033;
}

#mailimg{
position: relative;
    float: left;
    width: 10%;
    min-height: 10px;
    margin-top: 9px;
    margin-left: 30px;
}


#mailtxt{
position: relative;
    float: left;
    width: 78%;
    min-height: 10px;
    margin-top: 8px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#mailtxt p{
font-family: PragmaticaLightC;
    font-size: 21px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* фОРМА ОТПРАВКИ */
#formMain {
position: static;
width: 100%;
min-height: 50px;
padding: 15px 0;
float: left;
}

#formMain #name,
#formMain #phone {
	color: #00C5FF;
  height: 50px;
  margin-left: 18px;
  width: 147px;
	font-size: 15px;
  border-radius: 20px;
  background-color: #141719;
  border: 2px solid transparent;
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
}

#formMain > input:focus{
	outline: 0px solid #666; /* Параметры рамки */
}

#button {
color: #A9A9A9;
font-family: PragmaticaLightC;
    font-weight: 100;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    margin-left: 15px;
    width: 29%;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #A9A9A9;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -khtml-transition: 0.5s ease-in-out;
}

#button:hover {
color: #00C5FF;
border: 2px solid #00C5FF;;
}

/* ПРЕШХОЛДЕР */
.place{
color: #00C5FF;
font: 400 17px 'PT Sans', sans-serif;
text-align: center;
}


.place::-webkit-input-placeholder       {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place::-moz-placeholder                {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place:-moz-placeholder                 {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place:-ms-input-placeholder            {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place:focus::-webkit-input-placeholder {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}
.place:focus::-moz-placeholder          {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}
.place:focus:-moz-placeholder           {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}
.place:focus:-ms-input-placeholder      {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}

/* END */

body {
	background: url(img/bg.png) no-repeat;
	background-size: cover;
	overflow: hidden;
  color: #fff;
}

section {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	text-align: center;
	padding: 100px;
}

header {
	width: 100%;
	height: 120px;
	position: fixed;
	padding: 50px 50px 0;
	box-sizing: border-box;
}

header .logo {
	display: inline-block;
	height: 70px;
}

header .logo img {
	display: block;
	height: 100%;
	margin: 0 auto;
}

header .contacts {
	float: right;
	padding: 14px 0;
}

header .contacts button {
	background: #27ae60;
	color: #fff;

	font-size: 16px;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 0.1em;
	line-height: 16px;
	padding: 12px 15px;
	height: 42px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	text-decoration: none;
	margin: 0 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;

	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease
}


header .contacts button:before {
	content: '';
	display: inline-block;
	margin-right: 8px;
	background: url('http://floating.in.ua/img/icons-sdcc8bc775d.png') no-repeat;
	background-position: 0 -512px;
	width: 16px;
	height: 15px;
}

header .contacts button:hover {
	background-color: rgba(0,123,255,1);
}

h1 {
	color: #ccc;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-family: roboto-regular;
	font-size: 44px;
	/*font: 600 40px 'PT Sans', sans-serif;*/
}

/* Navigation bar */
#navbar {
  background-color: rgba(0,0,0,0.15);
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: -webkit-transform 0.25s ease-in-out,background-color 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out,background-color 0.25s ease-in-out;
  -ms-transition: -ms-transform 0.25s ease-in-out,background-color 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out,background-color 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out,background-color 0.25s ease-in-out;
}

#navbar.active {
  background-color: rgba(25,25,25,0.9);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

#navbar .toggle {
  cursor: pointer;
  text-align: center;
  background-color: rgba(0,0,0,0.15);
  text-decoration: none;
  color: #fff;
  font-family: Myriad-Pro-Semibold-Condensed;
  margin: 0;
  margin-left: -55px;
  border: 0;
  -webkit-border-radius: 10px 10px 0 0;
  -khtml-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  outline: 0;
  padding: 20px;
  display: inline-block;
  width: 110px;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  -o-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

#navbar .toggle:hover .caret,
#navbar .toggle:hover .text {
  opacity: 1;
}

#navbar.active .toggle {
  background-color: rgba(25,25,25,0.9);
  padding: 20px 19px;
}

#navbar .toggle .caret {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -1px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  background: url("img/sprite-presentation.png") no-repeat -63px -59px;
}

#navbar.active .toggle .caret {
  margin: 0 0;
  width: 22px;
  height: 10px;
  line-height: 10px;
  background-position: -34px -23px;
}

#navbar .toggle .text {
  opacity: 0.5;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  line-height: 10px;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

#navbar .steps {
  width: 1024px;
  margin: 0 auto;
  padding: 25px 38px 30px;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#navbar .steps .strip {
  font-size: 0;
  text-align: center;
  height: 100px;
  white-space: nowrap;
  position: relative;
  left: 0;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

#navbar .steps .step {
  cursor: pointer;
  text-align: center;
  margin: 0 6px;
  border: 0;
  outline: 0;
  padding: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: box-shadow 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  overflow: hidden;
}

#navbar .steps .step:hover {
  opacity: .8;
}

#navbar .steps .step:last-child:hover {
  opacity: 1;
  cursor: default;
}

#navbar .steps .step > img {
  display: block;
  width: 130px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#navbar .steps .step > p {
  margin-top: 10px;
  font-size: 16px;
  font-family: Myriad-Pro-Semibold-Condensed;
}

#navbar .steps .step-arrow {
  display: inline-block;
  vertical-align: top;
  line-height: 5px;
  height: 34px;
  width: 12px;
  margin: 43px 20px;
  background: url("img/sprite-presentation.png") no-repeat -21px 0px;
}

/* Who you are */
.who-are-you {
	display: block;
}

.who-are-you .next {
	background: transparent;
	color: #27ae60;

	font-size: 16px;
	border: 2px solid #27ae60;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 16px;
	padding: 12px 15px;
	height: 42px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	text-decoration: none;
	margin: 0 10px;
	/*-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;

	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.who-are-you .next:hover {
	color: rgba(0,123,255,1);
	border: 2px solid rgba(0,123,255,1);
}

.who-are-you .circles {

}

.who-are-you .circles span {
    display: inline-block;
    vertical-align: top;
    border-radius: 100%;
    font-weight: bold;
    color: #fff;
    padding: 15px;
    margin: 17px;
    width: 200px;
    height: 200px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,123,255,1);
    box-shadow: 0px 0px 10px 3px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0,123,255,1);
}

.who-are-you .circles span:hover p{
/*	opacity: .8;
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
    box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
<<<<<<< HEAD
 			-ms-transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);
=======
/* 			-ms-transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);
>>>>>>> c063dd1a7e8a1b75615487c2d8866df69e9f4e97
			transform: scale(1.1,1.1); */
color: #27ae60;
}

.who-are-you .circles span:hover {
    -webkit-box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
    box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 20px 7px rgba(0,123,255,1);
 			/*-ms-transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1); */
}

.who-are-you .circles span .icon {
	display: block;
	width: 50%;
	margin: 0 auto 30px;
}

.who-are-you .circles span p {
	margin-top: 55px;
    font-size: 27px;
    font-family: MyriadPro-BoldCond;
	text-transform: uppercase;
	    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Services */
.services {
  font-family: Myriad-Pro-Semibold-Condensed;
  padding: 0 100px;
}

.services p {
  font-size: 25px;
  margin-bottom: 50px;
}

.services .services-list .item {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 60px 100px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.services .services-list .item:nth-child(1) {
  border-radius: 30px 0 0 30px;
}

.services .services-list .item:nth-child(2) {
  border-radius: 0 30px 30px 0;
}

.services .services-list .item:hover {
  background: rgba(0,0,0,.3)
}

.services .services-list .item .icon {
	width: 90%;
  max-width: 280px;
  margin: 0 auto 30px;
}

.services .services-list .item h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.services .services-list .item p {
  font-size: 18px;
}

/* Структура экрана с описанием услуги */
section .content {
  display: flex;
  padding-top: 50px;
}

section .content .text {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  box-sizing: border-box;
  padding: 0 50px;

  font-family: roboto-regular;
}

section .content .text p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

section .content .text ul {
  display: inline-block;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto 30px;
}

section .content .image {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

section .image img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 20px -5px #000;
}
