/* шрифты */
      @font-face {
    font-family: roboto-regular; /* Имя шрифта */
    src: url(http://vvhale.com.ua/fonts/roboto-regular.ttf); /* Путь к файлу со шрифтом */
   }
      
      @font-face {
    font-family:  PragmaticaLightC; /* Имя шрифта */
    src: url(http://vvhale.com.ua/fonts/PragmaticaLightC.otf); /* Путь к файлу со шрифтом */
   }
   
   @font-face {
    font-family: Myriad-Pro-Semibold-Condensed; /* Имя шрифта */
    src: url(http://vvhale.com.ua/fonts/Myriad-Pro-Semibold-Condensed.ttf); /* Путь к файлу со шрифтом */
   }
   
   
   @font-face {
    font-family: MyriadPro-BoldCond; /* Имя шрифта */
    src: url(http://vvhale.com.ua/fonts/MyriadPro-BoldCond.otf); /* Путь к файлу со шрифтом */
   }
/* обнуление */

* {
	margin: 0px;
	outline: none;
	padding: 0px;
	border: 0px;
}

/* ПЛАВАЮШИЙ КУРСОР ПРИ ПЕЧАТИ */

        /* code for animated blinking cursor */
        .typed-cursor{
color: inherit;
    text-align: left;
    font-family: PragmaticaLightC;
    font-size: inherit;
    font-weight: 100;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }


/* стили блока с формой и контактами */

/* блок затемения экрана для формы */
#dark{
cursor: pointer;
display: none;
position: fixed;
top: 0px;
left: 0px;
height: 100vh;
width: 100%;
}


/* Стили блока с формой и контактами */

#contactbox{
	display: none;
	position: fixed;
	z-index: 99999;
	top: 50%;
	left: 50%;
	width: 540px;
  margin-top: -260px;
  margin-left: -270px;
	background-color: #141719;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 45px -2px rgb(10, 10, 10);
	-moz-box-shadow: 0 0 45px -2px rgb(10, 10, 10);
	box-shadow: 0 0 45px -2px rgb(10, 10, 10);
}

#dark{
	cursor: pointer;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}


#contactbox h1{
text-align: center;
    width: 100%;
    font-family: PragmaticaLightC;
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin: 22px 0;
}

#phoneimg{
position: relative;
    float: left;
    width: 10%;
    min-height: 10px;
    margin-top: 25px;
    margin-left: 30px;
}


#phonetxt{
position: relative;
    float: left;
    width: 78%;
    min-height: 10px;
    margin-top: 8px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#phonetxt p{
font-family: PragmaticaLightC;
    font-size: 21px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

.barier{
width: 100%;
float: left;
height: 1px;
background: #293033;
}

#mailimg{
position: relative;
    float: left;
    width: 10%;
    min-height: 10px;
    margin-top: 9px;
    margin-left: 30px;
}


#mailtxt{
position: relative;
    float: left;
    width: 78%;
    min-height: 10px;
    margin-top: 8px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#mailtxt p{
font-family: PragmaticaLightC;
    font-size: 21px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* фОРМА ОТПРАВКИ */
#formMain {
position: static;
width: 100%;
min-height: 50px;
padding: 15px 0;
float: left;
}

#formMain #name,
#formMain #phone {
	color: #00C5FF;
  height: 50px;
  margin-left: 18px;
  width: 147px;
	font-size: 15px;
  border-radius: 20px;
  background-color: #141719;
  border: 2px solid transparent;
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.5);
}

#formMain > input:focus{
	outline: 0px solid #666; /* Параметры рамки */
}

#button {
color: #A9A9A9;
font-family: PragmaticaLightC;
    font-weight: 100;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    margin-left: 15px;
    width: 29%;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #A9A9A9;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -khtml-transition: 0.5s ease-in-out;
}

#button:hover {
color: #00C5FF;
border: 2px solid #00C5FF;;
}

/* ПРЕШХОЛДЕР */
.place{
color: #00C5FF;
font: 400 17px 'PT Sans', sans-serif;
text-align: center;
}


.place::-webkit-input-placeholder       {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place::-moz-placeholder                {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place:-moz-placeholder                 {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place:-ms-input-placeholder            {font-size: 17px; line-height: 20px;  transition: line-height 0.5s ease;}
.place:focus::-webkit-input-placeholder {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}
.place:focus::-moz-placeholder          {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}
.place:focus:-moz-placeholder           {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}
.place:focus:-ms-input-placeholder      {font-size: 17px; line-height: 100px; transition: line-height 0.5s ease;}

/* END */

body {
	background: url(img/bg.png) no-repeat;
	background-size: cover;
	overflow: hidden;
}

section {
	position: absolute;
	top: 120px;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	text-align: center;
	padding: 100px;
}

header {
	width: 100%;
	height: 120px;
	position: fixed;
	padding: 50px 50px 0;
	box-sizing: border-box;
}

header .logo {
	display: inline-block;
	height: 70px;
}

header .logo img {
	display: block;
	height: 100%;
	margin: 0 auto;
}

header .contacts {
	float: right;
	padding: 14px 0;
}

header .contacts button {
	background: #27ae60;
	color: #fff;

	font-size: 16px;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 0.1em;
	line-height: 16px;
	padding: 12px 15px;
	height: 42px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	text-decoration: none;
	margin: 0 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;

	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease
}


header .contacts button:before {
	content: '';
	display: inline-block;
	margin-right: 8px;
	background: url('http://floating.in.ua/img/icons-sdcc8bc775d.png') no-repeat;
	background-position: 0 -512px;
	width: 16px;
	height: 15px;
}

header .contacts button:hover {
	background-color: #40DFFF;
}

h1 {
	color: #ccc;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-size: 40px;
	font-family: MyriadPro-BoldCond;
}
/* Who we are */
#who-are-we{
	display: block;
}

/* Who you are */
#who-are-you {
	display: block;
}

#who-are-you .circles span {
	padding: 20px;
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
	font-weight: bold;
	margin: 20px;
	width: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}

#who-are-you .circles span:hover {
	opacity: .8;
}

/* Services */
#services img {
	width: 400px;
}
